@import (reference) '../../index';

// ----------------------------------------------------------------------------- CONFIG

// ----------------------------------------------------------------------------- COMPONENT

.{{Name}}
{/*!*/

}

// -----------------------------------------------------------------------------